body {
    color: aliceblue;
    margin: 0;
    padding: 0;
    background-color: black;
    font-size: 1.3em;
    line-height: 1.3em;
    font-family: 'Lato', sans-serif;
}

.navbar-box {
    margin: 0;
    display: flex;
    border-style: solid;
    border-radius: 0.5em;
    border-width: 0;
    background: linear-gradient(90deg, #111b9e 0%, #000000 100%);
}

.navbar-list a{
    text-decoration: none;
    padding: 1em;
    color: rgb(171, 252, 255);
    display: inline-block;
}

.navbar-btn {
    display: none;
}

.navbar-list a:hover {
    background-color: grey;
}

.curr-page {
    background-color:rgb(65, 64, 64);
}
.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
}

.left-part {
    grid-column: 1/4;
}

.center {
    grid-column: 4/10;
}

.right-part {
    grid-column: 10/13;
}

.left-part,
.right-part {
    margin: 1em;
    margin-top: 0;
}

.book-photo {
    margin-top:0.5em;
    height:30px;
    width: 30px;
}

.smile-photo {
    margin-top:1em;
    height:30px;
    width: 70px;
}

.name-topic {
    font-size: 2em;
}

.center >ol {
    line-height: 150%;
    margin-left: 2em;
}

.center >li{
    color:rgb(110, 6, 110);
}

.what-learn::marker {
    color:rgb(167, 8, 167);
}

.lang-photos {
    width: 125px;
    height: 100px;
}

.articles-list {
    color:rgb(167, 8, 167);
}

.articles-list a {
    text-decoration: none;
    color: rgb(0, 119, 255);
}

.li-lang-learn {
    display: inline;
}

.li-lang-learn a {
    text-decoration: none;
    color: white;
}

.footer-box {
    padding: 0.1em;
    background-color: grey;
    text-align: center;
}

.footer-box li{
    display: inline-block;
    list-style: none;
    margin: 0.2em;
}

.footer-box a {
    text-decoration: none;
    color: black;
}




@media (max-width: 800px) {
    .navbar-btn {
        font-size: 2em;
        padding-inline: 10px;
        color: black;
        display: block;

    }

    .navbar-list {
        display: none;
    }

    .navbar-box:hover .navbar-list {
        display: block;
        position: absolute;
        background-color: black;
    }
}